body{
    padding: 0%;
    margin: 0%;
}

.agent_details_page{
    width: 100%;
}

.adp_heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hr{
    width: 100%;
    padding-bottom: 20px;
}

.adp_input_list{
    display: flex;
    flex-wrap: wrap;
}

.apro_input.adp {
    width: 30%; 
    padding: 10px;
    padding-top: 0%;

}

.lable_box_items {
    border-radius: 25px;
    background-color: #e9ecef;
    box-shadow: 6px 6px 12px rgba(212, 224, 235, 0.8), -6px -6px 12px #FFFFFF;
    width: 220px;
    height: 45px;
    border: none;
    font-size: 15px;
    text-indent: 20px;
    outline: none;
    appearance: none;
    background: url(https://cdn-icons-png.flaticon.com/128/2985/2985150.png);
    background-repeat: no-repeat;
    background-position: 180px;
    background-size: 25px;
    cursor: pointer;
}

.filter_search_desc_second.adp {
    width: 50%;
  }
  
  .filter_search_desc_second.adp .label_box.adp {
    gap: 0;
    padding: 0 10px;
  }
  
  .lable_box_items {
    background-color: #F1F5F9;
    border-radius: 25px;
  }

  .label_box.adp2 {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.phasethree {
    display: flex;
    flex-wrap: wrap;
}
.phasefour {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.apro_input.add.adp.phasefour {
    width: 280px;
}

.browse_file_img{
    width: 250px;
}

.browse_file.upload{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: #e9ecef;
    box-shadow: 6px 6px 12px rgb(212 224 235 / 80%), -6px -6px 12px #fff;
    width: 97%;
    align-items: center;
    padding: 50px 0px;
    margin-left: 8px;
}

.browse_file.upload.acb {
    margin-top: 80px;
    width: 300px;
    height: 180px;
    justify-content: center;
}

.browse_file_img.acb{
    width: 35px;
}

.acb.chooseimg{
    color: blue;
}

.browse_file.upload.PAN{
    width: 300px;
    height: 180px;
    justify-content: center;
}

.icons{
    width: 85%;
    display: flex;
    justify-content: space-between;
    
}

.apro_input.add.adp.addr{
    width: 90%;
}

.threeCol{
    display: flex;
}

input.inputfield{
    width: 420px;
}

.odbtns.ads{
    width: 91%;
    margin-right: 200px;
}

/* Inline #20 | http://192.168.1.10:3000/AgentDetails */

.fourcols {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  
  div.adp_input_list:nth-child(1) {
    width: 60%;
    }
  
  .apro_input.add.adp.addr {
    width: 100%;
  }
  
  
  
  .fourcols > div:nth-child(2) {
    width: 40%;
  }
  
s */
  
  div.adp_input_list:nth-child(3) {
    width: 30%;
  }
  
  
  
  .fourcols > div:nth-child(4) {
    width: 30%;
  }

 





.fourcols > div:nth-child(2) > div:nth-child(1) > input:nth-child(2) {
  width: 100%;
}



.fourcols > div:nth-child(2) > div:nth-child(1) {
  width: 100%;
}



.odbtns.ads {
    
  width: 98%;
}

.iconss{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.uploadedImg{
  width: 250px;
}