.dashboard_body_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: 40px;
  padding: 0px 40px
}

.dashboard_table_header {
margin-bottom: 28px;
}

.dashboard_table_header > span {
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 32px;
}

.dashboard_table_container {
background: #F1F5F9;
box-shadow: -6px -6px 12px #FFFFFF, 6px 6px 12px rgba(212, 224, 235, 0.8);
border-radius: 25px;
margin-top: 37px;
padding: 40px 4px;
}

.flex {
display: flex;
}

.flex.row {
flex-flow: row nowrap;
}

.flex.row.space-between {
justify-content: space-between;
padding-left: 36px;
    padding-right: 36px;
}

.flex.column {
flex-flow: column nowrap;
}

.flex.column.space-between {
align-items: space-between;
}

.dashboard_body_container h3 {
display: inline-block;
width: 100%;
margin-bottom: 40px;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 40px;
/* identical to box height */
color: #000000;
}

.figure {
max-height: 188px;
flex: 1 0;
padding: 10px;
background: linear-gradient(180deg, #3BA1F6 0%, #2669F1 100%);
box-shadow: -6px -6px 12px #FFFFFF, 6px 6px 12px rgba(212, 224, 235, 0.8);
position: relative;
border-radius: 25px;
margin-right: 20px;
overflow: hidden;

color: #FFFFFF;
}

.figure:before {
position: absolute;
bottom: 85px;
left: 60%;
content: " ";
width: 178px;
height: 178px;
border-radius: 50%;
background: rgba(255, 255, 255, 0.05);
}

.figure__value {
font-style: normal;
text-overflow: ellipsis;
font-weight: 700;
font-size: 48px;
line-height: 48px;
/* identical to box height */
}

.figure__label {
white-space: nowrap;
font-style: normal;
text-overflow: ellipsis;
overflow: hidden;
font-weight: 600;
font-size: 18px;
line-height: 28px;
padding-top: 45px;
}

.scroll-thumb-black::-webkit-scrollbar-thumb {
background: #000; 
}

.main_body.dashboard_fix {
  overflow: hidden;
}

/* Fixing  */


.elea_table_wrap table {
  width: 100%;
  border-collapse: collapse;
  overflow: scroll;
  border-radius: 25px 25px 25px 25px;
}

.elea_table_wrap table thead {
  background-color: #eaebfd;
  width: 91.6%;
  border-radius: 25px 25px 0px 0px;
}


.elea_table_wrap table thead tr th {
  padding: 30px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  background: #eaebfd;
  position: sticky;
  top: 0;
  z-index: 1;
}

.elea_table_wrap {
  scrollbar-width: none;
}



.datedatatb {
  display: flex;
  justify-content: center;
}

.datedatatb_inner {
  display: flex;
  align-items: center;
}

.upper_diff {
  font-size: 7px;
  font-weight: 700;
}

.upper_diff.neg {
  color: #FF0000;
}

.upper_diff.pos {
 
  color: #25B73C;
}

.upper_diff.pos::before {
  content: "+";
}

.upper_diff.zero{
  display: none;
}

.react-tiny-popover-container {
  z-index: 3;
}


.datedatatb_inner {
  /* display: f block; */
  align-items: center;
  display: f;
}
