.master_body_container{
    display: flex;
    justify-content: center;
    margin: 40px 80px 10px 80px;
}
.body_master{
    width: 100%;
}

.elea_table_wrap table tbody tr td div {
  align-items: center;
}
.box_span .label {
  padding: 7px 15px;
  border-radius: 25px;
}

.eye_icon_img_wrap_mr a svg {
  width: 25px;
}

.dashboard_table_container.master {
  background: #F1F5F9;
  box-shadow: -6px -6px 12px #ffffff, 6px 6px 12px rgb(212 224 235 / 80%);
  border-radius: 25px;
  margin-top: 37px;
  padding: 0px 4px;
  margin: 0px 40px;
}

.styling_aprove2.Unblock_btn {
  background-color: #1A8CF4;
  }

  .styling_aprove2.block_btn.new{
    background: #ff0000;
    padding: 10px 17px;
    border-radius: 25px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    margin: -20px 7px;
    width: 100%;
    margin-left: 20px;
    justify-content: center;
  }
  
  .master_body_container .pop_up.active {
    width: 70%;
}