.order_body_contanier{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.order_body{
    width: 95%;
}

.header_search button {
    border-radius: 25px;
    background: linear-gradient(97.29deg, #7879cd, #4244a0);
    width: 120px;
    height: 45px;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 6px 6px 12px rgb(106 108 194 / 84%), -6px -6px 12px #fff;
    transition: 0.4s;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header_search1{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}

.item_status1 span{
    background: #E1F1EA;
    border-radius: 25px;
    color: #06921D;
    padding: 6px 17px;
}

.item_status2 span{
    background: #E7F4FF;
    border-radius: 25px;
    color: #1A8CF4;
    padding: 6px 17px;
}
.item_status3 span{
    background: #FFF0DD;
    border-radius: 25px;
    color: #F4911A;
    padding: 6px 17px;
}

.repo_main_box_heading.OD{
    height: fit-content;
}

.odbtns{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
}

#cancel{
    border-radius: 25px;
    background: red;
    width: 180px;
    height: 45px;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 6px 6px 12px rgb(106 108 194 / 84%), -6px -6px 12px #fff;
    transition: 0.2s;
    
}

#dispatched{
    border-radius: 25px;
    background: linear-gradient(97.29deg, #7879cd, #4244a0);
    width: 180px;
    height: 45px;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 6px 6px 12px rgb(106 108 194 / 84%), -6px -6px 12px #fff;
    transition: 0.2s;
}


.uploadBox {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.browse_file.od {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: #e9ecef;
    box-shadow: 6px 6px 12px rgb(212 224 235 / 80%), -6px -6px 12px #fff;
    width: 35%;
    align-items: center;
    padding: 50px 20px;
    cursor: pointer;
}

.sample_file.od {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: #e9ecef;
    box-shadow: 6px 6px 12px rgb(212 224 235 / 80%), -6px -6px 12px #fff;
    width: 35%;
    align-items: center;
    padding: 50px 20px;
    cursor: pointer;
}

.un-list{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    background: #4244a020;
    width: -moz-fit-content;
    width: 200px;
    color: rgb(182, 183, 198);
    border: none;
    font-size: 15px;
    cursor: pointer;
    /* box-shadow: 6px 6px 12px rgb(106 108 194 / 84%), -6px -6px 12px #fff; */
    transition: 0.2s;
    align-items: center;
    padding: 0;
    overflow: hidden;
    height: 40px;
}

.un-li{
    width: 100%;   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 8px 20px;
}

/* .un-li:hover{
    color: #4244a0;
} */

.un-li.all{
    width: 100%;   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 8px 20px;
    background-color: #4244a0;
    color: white;
}