.search_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.search_main_left{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.header_search{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 60%;
    justify-content: flex-end;
}
.wallet_search_left h3 {
    font-size: 22px;
    font-weight: 600;
}
.header_search span {
    display: flex;
    flex-direction: column;
}
.input_search{
    position: relative;
    border-radius: 25px;
    background-color: #e9ecef;
    border: 1px #c4c4c4 solid;
    box-shadow: -2px -2px 6px 0px rgba(255, 255, 255, 1) inset, 4px 4px 6px 0px rgba(215, 228, 240, 0.8)inset; 
    width: 160px;
    height: 45px;
    font-size: 15px;
    text-indent: 0px;
    outline: none;
    background-image: url(https://cdn-icons-png.flaticon.com/128/54/54481.png);
    background-repeat: no-repeat;
    background-position: 200px;
    background-size: 20px;
    padding: 0 40px;
}

